@charset 'utf-8';

.content > .memory_box {
    width:100%;
    height:50px;
    color:#FFFFFF;
    background: linear-gradient(to left, #f6f0c4,#d99ec9) ;
    margin-top:30px;
    padding:15px;
    box-sizing: border-box;
    font-size:14px;
    border-radius: 5px;
}

.content > .memory_box:first-child {
    margin:0;
}

.tab_cnt {
    width:70%;
    height:auto;
    background:#FFFFFF;
    position: absolute;
    top:0;
    left:0;
    display: none;
    padding:20px;
    box-sizing: border-box;
    left: 15%; 
    transform: translateX(-50);
    top:30%;
    font-size:14px;
    border-radius: 15px;
    z-index:15;
}

.tab_cnt > .img_wrap {
    margin-top:20px;
}

.tab_cnt img{
    width:50%;
    float:left;
    height:100px;
    margin-bottom:20px;
}

.tab_cnt .btn {
    clear: both;
    width:30%;
    height:30px;
    background: pink;
    font-size:12px;
    text-align: center;
    margin:0 auto;
    line-height: 30px;
    color:#FFFFFF;
    font-weight: bold;
    border-radius: 5px;
}